.content {
  width: 85%;
  margin: 3rem auto;
}

.title_mini {
  text-transform: uppercase;
}

.hide {
  display: none;
}

/*EMPTY CONTENT*/

.emptystate {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin: 4rem 0;
}

.emptystate__content {
  margin-top: 2rem;
}
/*PRICE CONTENT*/
