.footer {
  background-color: var(--textColor);
}

.menu__items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 6rem;
}

.menu__item__link {
  text-decoration: none;
  color: var(--deactiveLink);
  font-family: Roboto, sans-serif;
  text-align: center;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.item__link--img {
  padding-bottom: 1rem;
}

.item__paragraaf--active {
  color: var(--activeLink);
}
