.prices {
  padding-bottom: 3rem;
}

.visually-hidden {
  display: none;
}

.prices__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
  margin: 0 2rem;
}

.price {
  background-color: white;
  border-radius: .6rem;
  padding: 1.2rem;
}

.price__button {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price__button__wrapper {
  display: flex;
  flex-flow: column;
}

.price__button__name {
  color: var(--textColor);
  font-size: var(--medium);
  margin-bottom: .5rem;
}

.price__button__amount {
  color: var(--textColor2);
  font-size: var(--small);
}

.price__button__plus {
  background: var(--plusbuttonBackground);
  border-radius: 4px;
  padding: .8rem 1.2rem;
  font-size: var(--medium);
}
