@import './css/reset.css';
@import './css/vars.css';
@import './css/header.css';
@import './css/pricelist.css';
@import './css/content.css';
@import './css/navigatie.css';

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

/*stylelint-disable*/
*,
*:before,
*:after {
  box-sizing: inherit;
}
/*stylelint-enable*/

body {
  color: var(--textColor);
  font-size: var(--small);
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

.highlight {
  background-color: var(--backgroundColor);
}

@media only screen and (min-width: 828px) {

  .layout {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr auto;
  }

  .content {
    grid-area: 1 / 2 / span2 /span2;
  }

  .prices__list {
    grid-template-columns: 1fr;
    margin-bottom: 4rem;
  }

  .prices::after {
    content: url(/assets/img/plan-based-coffee.png);
    position: relative;
    margin: 5rem;

    @media only screen and (min-resolution: 2dppx) {

      .prices::after {
        content: url(/assets/img/plan-based-coffee@2x.png);
      }
    }
  }

  .h1-like::after {
    content: none;
  }

  .orders__wrapper {
    grid-template-rows: minmax(45rem, 2fr);
  }
}
